h1 {
    text-align: center;

}

p {
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    line-height: 4;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
}

body {
    background-color: aquamarine;
}